.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list {
  width: 1000px;
  margin: 50px auto 0;
  background-color: gray;
}

.list-item {
  width: 320px;
  float: left;
  margin-left: 20px;
  font-family: "Tahoma";
}

.list-item:nth-child(1) {
  margin-left: 0;
}

.list-item h2 {
  font-size: 20px;
  font-weight: 700;
}

.list-item p {
  margin-top: 10px;
  line-height: 22px;
}
