.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: gray;
}

.site {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Tahoma";
}

.header {
  margin-top: 30px;
}

.logo {
}

.menu {
  margin-top: 30px;
}

.menu li {
  float: left;
  margin-left: 10px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.menu li.active a,
.menu li a:hover {
  background-color: lightblue;
  color: black;
}

.content {
  margin-top: 30px;
}

.sidebar {
  width: 280px;
  float: left;
  margin-top: 30px;
  padding: 40px 20px 210px 30px;
  background: #efefef url("../images/sidebar.png") no-repeat center bottom;
  /*background-color: #efefef;
  background-image: url("../images/sidebar.png");
  background-repeat: no-repeat;
  background-position: center bottom;*/
  border-radius: 10px 0 0 10px;
}

.sidebar form {
  position: relative;
}

.sidebar form input {
  width: 100%;
  height: 40px;
  padding-right: 35px;
  padding-left: 10px;
  border: 0;
  border-top: 1px solid gray;
  border-radius: 3px;
}

.sidebar form button {
  width: 16px;
  height: 16px;
  background: url("../images/search.png") no-repeat;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 10px;
}

.sidebar .list {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.sidebar .list p.title {
  font-size: 22px;
}

.sidebar .list li {
  margin-top: 10px;
  background: url("../images/menu.png") no-repeat left center;
  padding-left: 20px;
}

.sidebar .list li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: green;
}

.text {
  width: 660px;
  float: left;
  margin-top: 30px;
  padding: 40px 20px 30px 30px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.text h1 {
  font-size: 20px;
  font-weight: 700;
}

.text p {
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
}
