.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.site {
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Tahoma";
}

.header {
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightblue;
}

.header .logo {
  float: left;
}

.header .mobile-menu {
  display: none;
  width: 24px;
  float: right;
  margin-top: 50px;
}

.header .mobile-menu span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: black;
  margin-top: 3px;
}

.header .mobile-menu span:firstx§-of-type {
  margin-top: 0;
}

.header .menu {
  float: right;
  margin-top: 50px;
}

.header .menu li {
  float: left;
  margin-left: 20px;
}

.header .menu li:first-child {
  margin-left: 0;
}

.header .menu li a {
  font-size: 15px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  transition: color 0.2s linear;
}

.header .menu li.active a {
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  color: white !important;
}

.header .menu li a:hover {
  color: lightblue;
}

.content {
  margin-top: 30px;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightblue;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-align: center;
}

.title-blog {
  margin-top: 20px;
}

.products {
  margin-top: 10px;
}

.products .item {
  width: 240px;
  height: 240px;
  float: left;
  margin-left: 20px;
  border: 1px solid gray;
  text-align: center;
}

.products .item:nth-child(1) {
  margin-left: 0;
}

.blog-posts {
  margin-top: 10px;
}

.blog-posts .item {
  width: 500px;
  float: left;
  margin-left: 20px;
}

.blog-posts .item:nth-child(1) {
  margin-left: 0;
}

.blog-posts .item img {
  width: 120px;
  height: 120px;
  float: left;
}

.blog-posts .item .text {
  width: 360px;
  height: 120px;
  float: left;
  position: relative;
  margin-left: 20px;
}

.blog-posts .item .text p.description {
  height: 60px;
  font-size: 12px;
  margin-top: 10px;
  overflow-y: scroll;
}

.blog-posts .item .text p.blog-title {
  font-weight: 700;
  font-size: 16px;
}

.blog-posts .item .text p.date {
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  font-size: 11px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
}
