* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background-image:url("img/body.png");
	background-repeat: repeat-x;
	font-family: Arial;
}

.clear{
	clear: both;
}

.main{
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.header{
	margin-top: 35px;
}

.logo{
	float: left;
}

.right-bar{
	float: right;
	font-size: 16px;
}


.phone{
	background-image: url("img/tel.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:17px;
	margin-bottom: 30px;

}

.phone strong{
	font-weight: 700;
}

.lang ul{
	list-style: none;
}

.lang ul li{
	float: right;
}

.lang ul li img{
	padding-left: 4px;
}

.navigation{
	margin-top: 15px;
	border: 1px solid gray;
	font-size: 16px;
}

.navigation ul{
	list-style: none;
}

.navigation ul li{
	float:left;
}

.navigation ul li a{
	border-left: 1px solid gray;
	text-decoration: none;
	color: #000;
	padding: 10px;
	display: block;
}
.navigation ul li a:hover{
	background-color: #f99;
}

.navigation ul li:first-child{
	border-left: none;
}

.slide{
	margin-top:20px;
}

.slide img{
	border: 1px solid gray;
}

.text{
	margin-top: 15px;
	font-size: 16px;
	font-weight:700;
}

.boxes{
	margin-top: 15px;
}

.boxes .box{
	float: left;
	width: 300px;
	margin-left: 20px;
}

.boxes .box h1{
	line-height: 40px;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	padding-left:40px;
}


.boxes .box:nth-child(1){
	margin-left: 0;
	background-image: url("img/home-list_01.png");
	background-repeat: no-repeat;
	position: left center;
}

.boxes .box:nth-child(2){
	background-image: url("img/home-list_02.png");
	background-repeat: no-repeat;
	position: left center;
}

.boxes .box:nth-child(3){
	background-image: url("img/home-list_03.png");
	background-repeat: no-repeat;
	position: left center;
}