.main{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: rgb(34, 175, 162);
  color: #fff;
}
.hesap{
  width:260px;
  margin-left: auto;
  margin-right: auto;
}

#form label{
  display:inline-block;
}
#form input{
  margin-top: 10px;
  background-color: rgb(215, 235, 217);
  padding: 10px;
  border-radius: 10px;
  border:1px  solid rgb(232, 223, 222);
}

#form button{
width: 50px;
padding: 17px;
margin-left: 3px;
margin-top: 20px;
background-color: rgb(236, 107, 34);
border: 1px solid rgb(236, 107, 34);
color: #fff;
}

.sonuc{
  padding: 10px;
  display: inline-block;
  font-size: 20px;
}
.islemler {
  display: none;
}
#islem_gecmisi li{
  list-style: none;
}

#gecmis{
  width: 300px;
  padding: 20px;
  background-color: rgb(226, 201, 33);
  border: 1px solid rgb(226, 201, 33);
  color: #fff;
}
