.paragraf,
.foo {
  font-size: 32px;
  font-family: "Comic Sans MS";
  font-weight: 700; /* normal: 400, bold: 700 */
  font-style: italic;

  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;

  color: purple;
}

.foo {
  background-color: yellow;
  font-size: 20px;
}

.foo.bar {
  background-color: red;
}

div.kutu {
  width: 120px;
  height: 100px;

  background-color: red;

  font-size: 24px;
  color: white;
  text-align: center;

  margin-top: 50px;
  margin-left: 100px;

  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;

  /*padding: 50px 40px 50px 40px; top right bottom left*/
  /*padding: 50px 40px; top-bottom right-left*/
  /*padding: 50px 40px 30px; top right-left bottom*/
}

span {
  font-size: 32px !important;
}

.abc {
  font-size: 20px;
}
