@media (max-width: 1040px) {
  .site {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header .menu {
    display: none;
  }

  .header .mobile-menu {
    display: block;
  }

  .content .logos .item {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .content .logos .item:first-of-type {
    margin-top: 0;
  }

  .content .news {
    width: 100%;
  }

  .content .news .item img {
    width: 10%;
    height: auto;
  }

  .content .news .item .text {
    width: 88%;
    margin-left: 2%;
  }

  .home-text {
    width: 100%;
    margin-left: 0;
  }
}

/* tablet */
@media (max-width: 768px) {}

/* mobile phone */
@media (max-width: 480px) {}
