.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.site {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Tahoma";
}

.header {
}

.header .logo {
  float: left;
  margin-top: 20px;
  margin-left: 60px;
}

.header .mobile-menu {
  float: right;
  display: none;
  margin-top: 80px;
}

.header .menu {
  float: right;
}

.header .menu li {
  float: left;
}

.header .menu li a {
  display: inline-block;
  padding: 100px 10px 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.header .menu li.active a {
  background-color: darkblue;
  color: white;
}

.content {
  margin-top: 30px;
}

.content-title {
  font-weight: 700;
  font-size: 18px;
}

.content .banner img {
  max-width: 100%;
}

.content .logos {
  margin-top: 30px;
}

.content .logos .item {
  width: 320px;
  height: 100px;
  float: left;
  margin-left: 20px;
  padding-top: 20px;
  background-color: lightgray;
  border: 1px solid gray;
  text-align: center;
}

.content .logos .item:nth-child(1) {
  margin-left: 0;
}

.content .news {
  width: 320px;
  float: left;
  margin-top: 30px;
}

.content .news .item {
  margin-top: 10px;
}

.content .news .item img {
  width: 100px;
  height: 100px;
  float: left;
  padding: 1px;
  border: 1px solid gray;
}

.content .news .item .text {
  width: 210px;
  float: left;
  margin-left: 10px;
}

.content .news .item .text p {
  margin-top: 5px;
}

.content .news .item .text p.title {
  font-size: 13px;
  margin-top: 0;
}

.content .news .item .text p.description {
  font-size: 12px;
}

.content .news .item .text p.date {
  font-weight: bold;
  font-size: 11px;
}

.home-text {
  width: 660px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
}

.home-text p {
  margin-top: 10px;
  line-height: 20px;
}
