.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu {
  width: 800px;
  background-color: black;
  margin: 50px auto 0;
}

.menu li {
  width: 200px;
  float: left;
  border-left: 1px solid red;
}

.menu li:first-child {
  border-left: 0;
}

.menu li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: white;
  font-family: "Tahoma";
  font-size: 24px;
  text-align: center;
}
