.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.box {
  width: 300px;
  height: 300px;
  background-color: red;
  margin-top: 200px;
  margin-left: 200px;
  box-shadow: 0 0 10px black;
  animation-name: kutu-animasyonu;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes kutu-animasyonu {
  0% {
    transform: scale(2, 3);
  }

  30% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(60deg);
  }

  80% {
    transform: rotate(340deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
